body {
  margin: unset;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

ul {
  margin: unset;
  padding: unset;

  li {
    list-style: none;
  }
}

a {
  color: unset;
  text-decoration: unset;
}
